.time1 {
	font-size: 50px;
	color: black;
}

.text1 {
	font-size: 30px;
	color: black;
}

.button1 {
	font-size: 30px;
}

.sec1 {
	font-size: 50px;
	color: #FF0000;
}
.min1 {
	font-size: 50px;
	color: #40FF77;
}
.our1 {
	font-size: 50px;
	color: #000000;
}